.login-button {
  background-color: #0197f6;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 1px 3px 2px #e0e0e0;
  color: white;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.login-container {
  align-items: center;
  background-color: #e0e0e0;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: -1rem;
}

.login-modal {
  align-items: center;
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  box-shadow: 2px 1px 3px 2px #bdbdbd;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: max-content;
}
