.list-item {
  border: 1px solid #e0e0e0;
  box-shadow: 2px 1px 3px 2px #e0e0e0;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.list-item-checkbox {
  justify-self: start;
}

.checked {
  text-decoration: line-through;
  color: #bdbdbd;
}
