.form {
  margin: 1rem 0;
}

.form-button {
  background-color: #0197f6;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 1px 3px 2px #e0e0e0;
  color: white;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.form-button-container {
  display: flex;
  flex-direction: row-reverse;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin: 1rem 0;
}

.form-fieldset {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 2px 1px 3px 2px #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.form-label {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
}

.form-legend {
  background-color: #0197f6;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  padding: 0.25rem 3rem;
}

.form-message {
  color: #bdbdbd;
  font-size: 0.8rem;
}
