@import url('https://fonts.googleapis.com/css?family=Rubik|Trirong&display=swap');

body {
  margin: 0 auto;
  max-width: 1100px;
}

p {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trirong', serif;
}

.app-header {
  text-align: center;
}
