@import 'styles/colors.scss';

@import url('https://fonts.googleapis.com/css?family=Rubik|Trirong&display=swap');

html {
  font-size: 18px;
}

body {
  color: $black;
  margin: 0;
  padding: 1rem;
}

button,
label,
p {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: 'Trirong', serif;
}

h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.17rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
}

hr {
  color: $grey-light;
  margin-bottom: 1rem;
}

input,
option,
select {
  border: 1px solid $grey-light;
  box-shadow: inset 0px 0px 3px $grey-light;
  font-family: 'Rubik', sans-serif;
  padding: 0.15rem 0.5rem;
}
